@using project_itransition.Resources
@model IEnumerable<project_itransition.Models.Entities.Inventory>

<h1 class="fw-bold mb-4">
    @Resource.Inventories
</h1>

<a asp-action="Create"
   class="btn btn-success mb-4 px-4">
    @Resource.CreateInventory
</a>
<div class="card shadow-sm border rounded-4 bg-body-tertiary">

    <div class="card-body">

        <table class="table table-hover align-middle mb-0">

            <thead>

                <tr>
                    <th>@Resource.Title</th>
                    <th>@Resource.Category</th>
                    <th>@Resource.Owner</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">

                                @item.Title

                            </a>
                        </td>
                        <td>@item.Category</td>
                        <td>@item.Owner.FullName</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>